# Application environment
NODE_ENV=development

# Server configuration
PORT=5000

# MongoDB connection string
MONGODB_URI=mongodb://localhost:27017/auth-system

# MongoDB connection pool settings
DB_MIN_POOL_SIZE=0
DB_MAX_POOL_SIZE=10

# Bcrypt sault rounds
BCRYPT_SALT_ROUNDS=10

# Tokens configurations 
ACCESS_TOKEN_SECRET=your_access_token_secret
ACCESS_TOKEN_EXPIRY=15m

REFRESH_TOKEN_SECRET=your_refresh_token_secret
REFRESH_TOKEN_EXPIRY=7d

# Redis url
REDIS_URL=redis://localhost:6000

# Rate limit configurations 
LOGIN_RATE_LIMIT_WINDOW_MS=1000000
LOGIN_RATE_LIMIT_MAX=10

REGISTER_RATE_LIMIT_WINDOW_MS=3000000
REGISTER_RATE_LIMIT_MAX=15

REFRESH_RATE_LIMIT_WINDOW_MS=1000000
REFRESH_RATE_LIMIT_MAX=60

ADMIN_RATE_LIMIT_WINDOW_MS=3600000
ADMIN_RATE_LIMIT_MAX=100

VERIFICATION_RATE_LIMIT_WINDOW_MS=600000
VERIFICATION_RATE_LIMIT_MAX=10

RESEND_VERIFICATION_RATE_LIMIT_WINDOW_MS=3600000
RESEND_VERIFICATION_RATE_LIMIT_MAX=5

FORGOT_PASSWORD_RATE_LIMIT_WINDOW_MS=3600000
FORGOT_PASSWORD_RATE_LIMIT_MAX=5

RESET_PASSWORD_RATE_LIMIT_WINDOW_MS=600000
RESET_PASSWORD_RATE_LIMIT_MAX=10

# Email configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_EMAIL=your_email@gmail.com
SMTP_PASSWORD=your_app_password